package layouts

templ BaseLayout() {
	<!DOCTYPE html>
	<html data-theme="retro">
		<head>
			<meta name="htmx-config" content='{"responseHandling": [{"code":".*", "swap": true}]}'/> // all responses are swapped
			<link rel="stylesheet" href="/public/styles/style.css"/>
			<script src="/public/js/htmx.js" defer></script>
			<script src="/public/js/focusAfterRequest.js" defer></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
