package layouts

templ BaseLayout() {
	<!DOCTYPE html>
	<html data-theme="retro">
		<head>
			<link rel="stylesheet" href="/public/styles/style.css"/>
			<script src="/public/js/htmx.js" defer></script>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
